html{
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
}

.offscreen {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.light {
  opacity: .5;
}

.small {
  font-size: small;
}

.pointer {
  cursor: pointer;
}

img { 
  width: 40%;
  float: left;
  margin-right: 5px;
  border-radius: 5px;
}

a, tei-ref span a, .ui-widget-content a {
  color: #ff4800
}

select {
  font-size: 10pt;
}

/*Navigation*/
#navbar {
  background-color:#343a40;
  position: fixed;
  top: 0;
  height: 30px;
  padding: 20px;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 5px 0 black;
  display: flex;
}

#navbar a { 
  text-decoration: none;
  color:whitesmoke;
}

#nav-brand  {
  font-size: large;
}

#nav-items {
  font-size: medium;
  display: flex;
  justify-items: flex-end;
}

.nav-item {
  margin: 0 10px 0 10px;
  color: lightgray;
}

.nav-item:hover {
  cursor: pointer;
  color: white;
}

#nav-items .active {
  color: white;
}

.nav-item.active {
  border-bottom: 2px solid lightsalmon;
}

/*Main*/
#main {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Page*/
#page {
  display: none;
  padding: 20px;
  line-height: 1.5em;
  height: calc(100% - 40px);
  overflow-y: scroll;
}

/*Text Header*/
#text-header {
  padding: 20px 10px 0 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  top: 70px;
  height: 30px;
  left: 0;
  width: calc(100% - 20px);
 
}

/*Text Menu*/
#text-menu label {
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

#text-menu label:hover {
  cursor: pointer;
}

#text-menu input:checked + label {
  background-color: lightgray;
}

#notes-filter-label {
  font-size: small;
  font-family: Helvetica;
}

/*Text Content*/
#text-content {
  position: fixed;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  display:flex;
  flex-direction: row;
}

/*Panels*/
.panel-md, .panel-sm, .panel-lg {
  padding: 0 10px 10px 10px;
  height: calc(100% - 20px);
  overflow-y: scroll;
  border-top: 1px solid lightgray;
}

.panel-sm {
  flex: .5 0 200px;
  display: none;
}

.panel-md {
  flex: 2 0 200px;
}

.panel-lg {
  flex: 3 1 250px;
}

.panel .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  color: #343a40;
  position: sticky;
  top: 0;
  padding-top: 10px;
  background-color: white;
  z-index: 100;
}

.panel .close:hover {
  cursor:pointer; 
}

.panel .help {
  padding-left: 10px;
}

.panel .help:hover{
  cursor:pointer;
}

.help-content {
  display: none;
  font-size: 10pt;
  padding-top: 0.5em;
  padding-bottom: 1em;
  line-height: 1.2em;
  position: sticky;
  top: 28px;
  z-index: 50;
  background-color: white;
}

/*Interp Panel*/

.interp:hover{
  cursor: pointer;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.accordion:hover {
  cursor: pointer;
}

.badge {
  background-color: gray;
  padding: 2px 5px 2px 5px;
  border-radius: 10px;
  font-size: small;
  color: white;
  margin-right: 1em;
}

.interp-group {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.interp-group p {
  margin: .5em 0 .5em 0;
}

.ok, #clear-formatting {
  cursor: pointer;
  text-decoration: underline;
  font-size: 10pt;
}

#clear-formatting {
  margin-top: 1em;
}

/*Formatter*/
#formatter {
  display: none;
}

button {
  background: none;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: black;
}

button:hover{
  cursor:pointer;
}

button.formatter span {
  padding: 2px 1px 2px 1px;
}

button#highlight1 span, [data-style='highlight1'] {
  background: lightcyan;
  border-radius: 5px;
}

button#highlight2 span, [data-style='highlight2'] {
  background: antiquewhite;
  border-radius: 5px;
}

button#highlight3 span, [data-style='highlight3']{
  background: aqua;
  border-radius: 5px;
}

button#highlight4 span, [data-style='highlight4'] {
  background: aquamarine;
  border-radius: 5px;
}
  
button#highlight5 span, [data-style='highlight5'] {
  background: lemonchiffon;
  border-radius: 5px;
}

button#highlight6 span, [data-style='highlight6'] {
  background: lightgray;
  border-radius: 5px;
}

button#pen1 span, [data-style='pen1'] {
  color: chocolate;
}

button#pen2 span, [data-style='pen2']{
  color: crimson;
}

button#pen3 span, [data-style='pen3'] {
  color: darkcyan;
}

button#pen4 span, [data-style='pen4'] {
  color: darkmagenta;
}

button#pen5 span, [data-style='pen5'] {
  color: goldenrod;
}

button#line1 span, [data-style='line1'] {
  border: 1px solid chocolate;
  padding: 2px 0 2px 0;
  border-radius: 5px;
}

button#line2 span, [data-style='line2'] {
  border: 1px solid crimson;
  padding: 2px 0 2px 0;
  border-radius: 5px;
}

button#line3 span, [data-style='line3'] {
  border: 1px solid darkcyan;
  padding: 2px 0 2px 0;
  border-radius: 5px;
}

button#line4 span, [data-style='line4'] {
  border: 1px solid darkmagenta;
  padding: 2px 0 2px 0; 
  border-radius: 5px;
}

button#line5 span, [data-style='line5'] {
  border: 1px solid goldenrod;
  padding: 2px 0 2px 0;
  border-radius: 5px;
}

button#bold span, [data-style='bold'] {
  font-weight: bold;
}

button#italic span, [data-style='italic'] {
  font-style: italic;
}

button#border span, [data-style='border'] {
  border: 1px solid black;
  padding: 2px 0 2px 0;
  border-radius: 5px;
}

button#dot span, [data-style='dot'] {
  border: 1px dotted black;
  border-radius: 5px;
  padding: 2px 0 2px 0;
}

/*Comment Panel*/
#comment {
  display: none;
}

#comment .content {
  line-height: 1.5em;
}


/*TEI*/
#TEI {
  padding: 10px 50px 10px 50px;
  width: calc(100% - 100px);
  background-color:  white;
}

tei-anchor:hover{
  cursor: pointer;
  color: lightsalmon;
}

tei-persname:hover, tei-placename:hover{
  cursor: pointer;
  text-decoration: underline;
}

tei-back {
  display:none;
}

/*Media Queries*/
@media screen and (max-width:650px) {
  #text-content {
     flex-direction: column;
  }
  #nav-items {
    font-size: small;
  }

  .nav-item {
    margin-left: 0;
    margin-right: 5;
  }
  
  .panel-sm, .panel-md, .panel-lg {
      width:  calc(100% - 20px);
      flex: auto;         
      border-top: 2px solid lightgray; 
  }
  
  #TEI {
    padding: 10px 30px 10px 30px;
    width:  calc(100% - 60px);
  }

}

@media screen and (max-width: 400px) {
  #text-menu label {
    font-size: small;
    line-height: 1.5em;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .menu-text {
    display:none;
  }

}
